body {
	margin: 0px;
	padding: 0px;
	background-color: black;
	overflow: hidden;
}

#mainmenu {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 58px;
	background-color: #2e2e2e;
}

#map {
	position: absolute;
	left: 0px;
	top: 58px;
	right: 0px;
	bottom: 0px;
}