.otm-menu {
    background-color: #4b4c49;
    height: 100%;
}

.otm-menu-logo {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
}

.otm-menu-logo-img {
    margin-top: 2%;
    margin-left: 5px;
    height: 80%;
}

.otm-menu-button-panel {
    position: absolute;
    left: 210px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

.otm-menu-button-panel button {
    float: right;
    display: block;
    background-color: #2e2f2d;
    border: none;
    border-radius: 8px;
    padding: 0;
    margin: 0 0 0 5px;
    cursor: pointer;
}

.otm-menu-button-panel button img {
    margin-top: 5%;
    width: 90%;
    height: 90%;
}

.otm-menu-button-panel button:hover {
    background-color: #363735;
}

.otm-menu-button-panel button:active {
    background-color: #8e8f8d;
}

.otm-menu-button-panel button:focus {
    outline : none;
}
.otm-menu-button-panel button::-moz-focus-inner {
    border: none;
}
